* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

select, button, input {
    padding: 12px;
    margin: 5px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    align-items: center;
}